# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build results
[Bb]in/
[Oo]bj/

# OS files
.DS_Store
Thumbs.db
